
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .varela-regular {
    font-family: "Varela", sans-serif;
  }
  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  header {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url("../images/backgroundHome.png") no-repeat center center/cover;
    display: flex;
    align-items: center;
    padding-top: 10%;
    padding-left: 10%;
  }
  
  .logo img {
    width: 185px;
    margin-left: 15%;
  }
  
   header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0,.5);
    z-index: 1;
    opacity: 1;
    pointer-events: none;
  }
  
  .navbar {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    align-items: center;
  }
  
  .menu-toggle {
    font-family: varela;
    font-size: 22px;
    line-height: 41px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin-right: 5%;
  }
  
  #nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 1s ease;
    z-index: 3;
  }
  
  #nav-menu.active {
    transform: translateY(0);
  }
  
  #nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #nav-menu ul li {
    margin: 10px 0;
  }
  
  #nav-menu ul li a {
    color: #fff;
    font-family: serif;
    font-size: 51px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
  }
  
  .intro {
    position: relative;
    z-index: 2;
    transition: opacity 0.6s ease, visibility 0.6s ease, display 0.6s ease;
  }
  
  #nav-menu.active ~ .intro {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
  
  .intro h1 {
    font-weight: 600;
    font-size: 79px;
    line-height: 110.6px;
    color: #fff;
  }
  
  .intro .buttons {
    margin-top: 20px;
  }
  
  .intro .look {
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    background-color: #977739;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .look {
    position: relative;
    top: -30px;
    left: 80%;
  }
  
  .arrow {
    font-size: 20px;
  }
  /* end home */
  
/* start about */
.about-header {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("../images/about/pexels-anjreyes-465118.jpg") no-repeat center
      center/cover;
    display: flex;
    padding: 0 20px;
  }
  .about-header h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 101px;
    line-height: 131.3px;
    color: white;
    position: relative;
    top: 100px;
    left: 50px;
  }
  
  .info-section {
    background: #f4f4f4;
    padding: 60px 20px;
    text-align: center;
  }
  
  .info-section .container {
    max-width: 90%;
    margin: auto;
  }
  
  .section-title {
    font-size: 80px;
    font-weight: 400;
    line-height: 104px;
    padding-top: 50px;
    position: relative;
    display: inline-block;
    color: #8b6e33;
  }
  
  .section-title::after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background: black;
    margin: 15px auto;
  }
  
  .section-text {
    width: 1000px;
    margin: auto;
    font-size: 26px;
    font-weight: 400;
    color: black;
    line-height: 39px;
    padding: 20px 0;
  }
  /* interactive */
  .interactive-section{
    background-color: #F8F7F3;
  }
  .card-container {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .card {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin: 0 15px;
    transition: background 0.3s, color 0.3s;
  }
  #card1{
    background-color: #8b6e33;
    color: #fff;
  }
  #card2{
    background-color: black;
    color: #fff;
  }
  .card:hover {
    transform: scale(1.05);
  }
  
  .article-container {
    width: 80%;
    margin: auto;
    margin-top: 25px;
    position: relative;
    z-index: 2;
  }
  #article2 {
    display: none;
  }
  .article-container p{
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    margin-top: 50px;
    padding-bottom: 50px;
  }
  /* counter */
  .counter-section {
  
    padding: 90px 0;
    display: flex;
    justify-content: space-around;
    background-color: #977839;
    text-align: center;
  }
  .counter-item {
    flex: 1;
  }
  .counter {
    font-size: 40px;
    font-weight: bold;
    color: white;
    display: block;
    position: relative;
  }
  .counter::after {
    content: "+";
    font-size: 48px;
    font-weight: bold;
    color: white;
    position: absolute;
    right: 80px;
  }
  .counter-item p {
    font-size: 35px;
    font-weight: bold;
    color: white;
   }
   /* row */
   .go-to-project{
   background-color: #F8F7F3;
   }
   .go-to-project h2{
   font-size: 80px;
   padding-bottom: 90px;
   line-height: 104px;
   font-weight: 400;
   }
    .go-to-project .container{
    width: 80;
    margin: auto;
    text-align: center;
   }
   .go-to-project a{
    text-decoration: none;
    color: #020101;
   }
  /* end about */
  
/* start projects */
.projects {
    width: 60%;
    margin: auto;
    text-align: center; 
    z-index: 2;
    position: relative;
  }
  
  .project-image {
    display: flex;
  }
  .project-image .project-item {
    width: 50%;
    background-color: #977839;
  }
  .project-item {
    margin-left: 10px;
    margin-right: 10px; 
  }
  
  .project-image img {
    width: 100%;
  }
  
  .project-text h2 {
    text-align: center;
    font-family: "Varela", sans-serif;
    font-weight: 900;
    color: white;
    size: 70px;
    line-height: 70px;
  }
  .project-video {
    display: flex;
  }
  .project-video .video-item {
    width: 50%;
  }
  .video-item {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .project-video video {
    width: 100%;
  }
  /* end projects */
  
/* start gallery */
.gallery-header {
    position: relative;
    width: 100%;
    height: 550px;
    background: url("../images/backgallery.jpg") no-repeat center center/cover;
  }
  .background-text {
    position: absolute;
    top: 55%;
    left: 15%;
    transform: translate(-50%, -50%);
    color: #fff;
  }
  
  .background-text h2 {
    font-size: 80px;
    line-height: 104px;
    font-weight: 400;
  font-style: normal;
  }
  
  /* Gallery Section */
   .gallery-header .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.6s ease;
  }
  .gallery-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .gallery-item {
    width: calc(50%);
    position: relative;
    margin-bottom: 50px;
    overflow: hidden;
  }
  .gallery-item img {
    width: 100%;
    transition: transform 2s ease, opacity 1s ease;
  }
  .text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    color: #fff;
    transition: background-color 0.6s ease;
  }
  .text-content h2 {
    margin-bottom: 10px;
  }
  .text-content p {
    font-size: 18px;
  }
  .gallery-item:hover img {
    transform: scale(1.5);
    opacity: 0.9;
  }
  @media (max-width: 768px) {
    .gallery-item {
      width: 100%;
    }
  }